#index{
    background-image: linear-gradient($colorFondo);
    background-repeat: no-repeat;
    height: 100%;
    main{
        h1{
            font-family: $typoTitle;
            font-size: 100px;
            text-align: center;
            padding-top: 100px;
            color: $colorTexto;
        }
        div{
            display: flex;
            flex-direction: column;
            padding: 60px;
            h2{
                @extend %styleH2;
            }
            p{
                @extend %estilosParrafos;
                @include fontStyle(black, white);
            }
        }
    }
}